@model Simple.MVC.Security.Data.SEGrupo
@{
    ViewBag.Title = "Excluir";
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Tem certeza que deseja excluír?</h4>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>Nome:</dt>
                <dd>@Model.Nome</dd>
                <dt>Descrição:</dt>
                <dd>@Model.Descricao</dd>
            </dl>
            <h5>Papeis</h5>
            <h5>Pessoas</h5>
            <h6>Se o grupo for excluído, todas as dependências também serão!</h6>
        </div>
       
        <div class="modal-footer">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(m => m.Id)
                <button type="submit" class="btn btn-danger">Excluir</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            }
        </div>
    </div>
</div>