@model Simple.MVC.Business.FZ.Beneficio
@using Simple.MVC.Business.Util;

@{
    ViewBag.Title = "Detalhes - Benefício";
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@ViewBag.Title</h4>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>Id:</dt>
                <dd>&nbsp;@Model.Id</dd>
                <dt>Agente Parceiro:</dt>
                <dd>&nbsp;@Model.PessoaJuridica.CNPJ -   @Model.PessoaJuridica.Nome</dd>
                <dt>Descrição:</dt>
                <dd>&nbsp;@Model.Descricao</dd>
                <dt>Valor:</dt>
                <dd>&nbsp;@(Model.EhPorcentagem ? Model.Valor.ToString("c2") + "%" : "R$ "+ Model.Valor.ToString("c2")) </dd>
            </dl>
        </div>
    </div>
</div>

