@using Simple.MVC.Security.Data
@{
    HackathonEntities db = new HackathonEntities();
    SEUsuario p = db.SEUsuario.FirstOrDefault(ps => ps.Login.Equals(User.Identity.Name));
    SESistema s = @db.SESistema.Where(stm => stm.Nome.Equals("Simple.MVC.Web.Home")).FirstOrDefault();
    string nome = null;
    string path = null;
    if (s != null) path = s.UrlRedirect;
    if (p != null) nome = p.Login;
}

 <ul class="nav navbar-nav navbar-right">
      <li class="dropdown current-user">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class="navbar-avatar pull-left">
                <img class="img-circle img-responsive" src="~/Content/images-theme/user-image.jpg" />
            </div>
            @nome <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="@path/Account/EditMe"><i class="fa fa-fw fa-user"></i>Meus Dados</a></li>
            <li><a href="@path/Account/MudarSenha"><i class="fa fa-fw fa-refresh"></i>Alterar Senha</a></li>

            <li class="divider"></li>
            <li class="sair"><a href="@path/Account/Sair"><i class="fa fa-fw fa-sign-out"></i>Sair</a></li>
        </ul>
    </li>
</ul>