    <div id="footer" class="bg-primario">
        <p class="text-right creditos-desenvolvimento">
            @DateTime.Now.Year - 
            <a href="http://www.simple.com.br" title="SIMPLE - Gerenciamento Simples">Simple</a>
            - Todos os direitos reservados.<br>
            Desenvolvido por: <strong>Gerenciamento Simples.</strong>
        </p>
    </div>